<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen"/>
    <style>
        .navigation-order{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
  	<script src="/js/ngl.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var message = /*[[${molecules}]]*/ 'default';
	    console.log(message.compound);
	
	/*]]>*/
	</script>  
  <script>
    var stage;
    document.addEventListener("DOMContentLoaded", function () {
       stage = new NGL.Stage("viewport");
       //stage.loadFile( "http://localhost:8090/molfile/" + message.strId , { ext: "sdf" }, {defaultRepresentation: true});
       stage.loadFile( "http://localhost:8090/molfile/" + message.strId , { ext: "sdf" }).then( function( comp ){
		   comp.addRepresentation( "hyperball" ); //, { multipleBond: true }
		   comp.autoView();
		} );
//       stage.setParameters({   backgroundColor: "white"}  );
    });
  </script>
  	<div id="viewport" style="width:800px; height:600px;"></div>

	<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-3">
            <a href="/molecules"><img src="/images/logo.png" style="width:100%;"/></a>
        </div>
    </div>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Molecules</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>StrId</th>
                        <th>Molformula</th>
                        <th>Mol</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="MarCompoundMolT : ${molecules}">
                        <td th:text="${MarCompoundMolT.strId}"></td>
                        <td th:text="${MarCompoundMolT.molformula}"></td>
                        <td th:text="${MarCompoundMolT.compound}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>

<script src="/js/jquery.js" type="application/javascript"></script>
<script type="application/javascript">
    $(document).ready(function () {
       $('#btn_submit').on("click",function (e) {
           e.preventDefault();
           var productName, productPrice;
           productName = $('#product_name').val();
           productPrice = $('#product_price').val();
           if($.trim(productName) === ""){
               alert("Product name cannot be empty");
           }
           else if(!$.trim($.isNumeric(productPrice))){
               alert("Price must be numeric");
           }
           else {
               var data = {};
               data["productName"] = productName;
               data["productPrice"] = productPrice;
               $.ajax({
                   type: "POST",
                   contentType: "application/json",
                   url: "/saveproduct",
                   data: JSON.stringify(data),
                   dataType: 'json',
                   timeout: 6000,
                   success: function (data) {
                       if (confirm("Product with Id " +data + " Saved")){
                           window.location.reload();
                       }
                   }
               });
           }
       });
    });
</script>
</body>
</html>